{% block title %} Experiment Introduction {% endblock %}

{% block content %}


<style>
    .my-box {
        border: 1px solid #ccc;
        padding: 10px;
        background-color: #f9f9f9;
    }
</style>

<div class="my-box">
    On the next six pages we briefly describe different people.
    Please read each description and think about how much that person is or is not like you.
    Select the box to the right that shows how much the person described is like you.
</div>

<br/>

<p>{{ next_button }}</p>

{% endblock %}

